*{
    margin: 0;
    padding: 0;
    box-sizing: Roboto, 'Courier New', Courier, monospace;
}

.section-1,
.section-2,
.section-3,
.section-4{
    padding: 0 10%;
}

.section-1{
    background-color: #1F2937;
}

.navigation{
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.navigation-logo{
    font-size: 24px;
    color: #F9FaF8;
}

.navigation-links{
    display: flex;
    gap: 16px;
    list-style: none;
    color: white;
}

.header{
    display: flex;
    gap: 32px;
    padding: 16px;
    justify-content: space-between;
}

h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

button{
    color: white;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 8px 16px;
    font-weight: 700;
}

img{
    width: 600px;
    height: 200px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}